body, html{
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
    color: #FFFFFF;
}

#container{
    background-color: #1F2937;
    width: 550px;
    height: 550px;
    box-sizing: border-box;
    padding: 115px 52px 0 52px;
}

#title{
    width: 354px;
    height: 80px;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
}

#title span{
    color: #4ADF86;
}
#paragraph{
    margin: 10px 0 51px 0;
    width: 372px;
    height: 28px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #D5D4D8;
}
#pwd-wrapper{
    display: flex;
}
#create-passwords-btn{
    width: 191px;
    height: 42px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    background-color: #10B981;
    color: inherit;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    margin: 0 0 35px 0;
}
#pwd-length{
    width: 191px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
    background-color: #273549;
    color: #55F991;
    border: none;
    margin: 0 0 35px 5px;
}
hr{
    color: #2F3E53;
    border: 1px solid #2F3E53;
    margin: 0;
}

#password-containers{
    width: 100%;
    /* height: 39px; */
    height: 71px;
    display: flex;
    justify-content: space-between;
    margin: 35px 0 0 0;
}

.password{
    width: 211px;
    /* height: 39px; */
    height: 71px;
    border-radius: 6px;
    background-color: #273549;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* Only compatible with Firefox as of July 2022: */
    /* scrollbar-width: thin; */
}
.password div{
    width: 180px;
    /* height: 32px; */
    height: 64px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 32px; */
    line-height: 64px;
    text-align: center;
    color: #55F991;
}

/* Replace with a tooltip: */
#tooltip{
    margin: 15px 0 0 0;
    color: #D5D4D8;
    visibility: hidden;
}

